<div class="contenedorRegVet">

    <div class="barrita">

        <div class="marca-principal"><img src="../../../assets/id/marca.png"/></div>
        
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn"><fa-icon [icon]="faBars"></fa-icon></label>        
            <ul>
                <li><a href="#"><fa-icon [icon]="faWallet"></fa-icon> BILLETERA </a></li>
                <li><a href="#"><fa-icon [icon]="faChartPie"></fa-icon> ESTADISTICAS </a></li>
                <li><a href="#"><fa-icon [icon]="faFileLines"></fa-icon> DATOS PERSONALES </a></li>
            </ul>        
        </nav>

    </div>

    <div class="main">

        <div class="cardAsociado">
            <div class="acciones">
                <div class="iconAxnOn"><fa-icon [icon]="faCircleCheck"></fa-icon> Conectado </div>
                <div class="iconAxnOff"><fa-icon [icon]="faCircleXmark"></fa-icon> Desconectado </div>
            </div>
        </div>

    </div>

</div>
