<div class="contenedorRegTut">
    <div class="barrita">
        <div class="marca-principal"><img src="../../../assets/id/marca.png" /></div>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn"><fa-icon [icon]="faBars"></fa-icon></label>
            <ul>
                <li><a href="#"><fa-icon [icon]="faUserDoctor"></fa-icon> VETERINARIOS</a></li>
                <li><a href="#"><fa-icon [icon]="faCat"></fa-icon> MASCOTAS</a></li>
                <li><a href="#"><fa-icon [icon]="faFileLines"></fa-icon> DATOS PERSONALES</a></li>
                <li><a href="#"><fa-icon [icon]="faBriefcaseMedical"></fa-icon> OTROS</a></li>
                <li class="urg"><a href="#"><fa-icon [icon]="faSquarePlus"></fa-icon> URGENCIAS</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="cardAsociado">
            <div class="imgVet"><img src="../../../assets/veterinarios-avatar/vetGenerico.png"></div>
            <div class="NomMedAsoc">Luis Gutiérrez</div>
            <div class="medAsoc">Veterinario Asociado</div>

            <div class="acciones">
                <div class="iconAxnVideo"><fa-icon [icon]="faVideo"></fa-icon><br>VIDEO LLAMADA</div>
                <div class="iconAxnMsg"><fa-icon [icon]="faEnvelope"></fa-icon><br>MENSAJE</div>
            </div>
        </div>
    </div>

</div>